# L'URL de l'API Backend (en développement: http://localhost/btp_360/backend_btp360)
VITE_API_URL=http://localhost/btp_360/backend_btp360

# Identifiant Client Google OAuth (Google Cloud Console)
VITE_GOOGLE_CLIENT_ID=votre_google_client_id_ici

# Nom de l'application
VITE_APP_NAME="BTP 360"
